    .town-planning-image {
    width: 100%;
}

.modal-backdrop {
    position: inherit !important;
}

.recentcomments a {
    display: inline !important;
    padding: 0 !important;
    margin: 0 !important;
}

.container-home-page {
    background-color: black;
}

.container-home-page-row {
    padding: 3px;
    margin: 0px !important;
    color: white;
    font-size: 12px;
}

.text-color-white {
    color: white;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 700;
}

.facebook-icon-color {
    padding: 0px 5px;
}

.modal-dialog-box {
    max-width: 630px;
}

.home-page-fa-window-close {
    position: absolute;
    top: -5px;
    right: -1px;
}

.fade-up-image {
    width: 35%;
    position: absolute;
    top: 24%;
    left: -8%;
    height: 200px;
    animation: 0s ease 0s 1 normal none running none;
    display: none;
}

.mb_padding {
    /*margin-top: 20px !important;*/
}

.logo-responsive {
    height: 50px;
    animation: none;
}

.scale-up-ver-center {
    animation: scale-up-ver-center .4s cubic-bezier(.39, .575, .565, 1.000) both;
}

@keyframes scale-up-ver-center {
    0% {
        transform: scaleY(.4)
    }
    100% {
        transform: scaleY(1)
    }
}

;
.scale-up-ver-center {
    font-size: 24px;
    font-weight: 500 !important;
}

.search-below-buttons {
    margin-bottom: 8px;
}

.jumbotron {
    background-color: grey;
    top: 30%;
    color: white;
    padding: 20px 10px;
    position: absolute;
    background-color: #ffffffcc;
    width: 18%;
    margin-left: 75%;
}

.jumbotron h6 {
    font-size: 1.5rem;
    color: #222;
    font-family: sans-serif;
    text-align: center;
    border-bottom: 1px solid #8080807a;
}

.jumbotron ul a {
    color: #222;
    font-family: sans-serif;
    text-align: left;
    font-size: .8rem;
}

.jumbotron ul span {
    color: #222;
    font-family: sans-serif;
    text-align: center;
    float: right;
}

.listing-thumbnail:before {
    left: 0px !important;
}

.bg-grea-3 {
    padding-top: 0px;
}

.main-title {
    margin-bottom: 0px !important;
}

.main-title-h1 {
    margin-bottom: 0px;
}

.attachment-full {
    max-width: 100%;
    height: auto;
}

.listing-item-box {
    padding: 0px !important;
}

.content-area {
    padding-top: 30px;
    padding-bottom: 30px;
}

.service-info > div {
    background-color: #f9f7f6;
}

.service-info > h3 {
    margin-bottom: 0px !important;
}

.service-info > p {
    padding-bottom: 10px !important;
}

.d-block {
    height: 100px;
}

div>.detail {
    height: 100px;
}

.content-area-7 {
    padding-top: 0px;
}

.main-title>.main-title-margin {
    margin-bottom: 30px;
}

.main-title-margin > h1 {
    margin-bottom: 0px;
}

.category_bg_box_1 {
    height: 350px;
    background: url("https://www.naqsha.com.pk/wp-content/uploads/2019/12/gallery-pictures.webp?v1.2") 0px 0px;
}

.category_bg_box_2> .lazy {
    background: url("https://www.naqsha.com.pk/wp-content/uploads/2019/12/gallery-pictures.webp?v1.2") 555px 233px;
}

.category_bg_box_3 {
    background: url("https://www.naqsha.com.pk/wp-content/uploads/2019/12/gallery-pictures.webp?v1.2") 1110px 234px;
}

.ads-item img {
    border: 0px solid white !important;
    margin: 10px 0!important;
    width: 100% !important;
    height: auto !important;
    animation: none !important;
}

#bh {
    width: 150px;
    height: 100px;
    background: url(https://www.naqsha.com.pk/wp-content/uploads/2019/12/sprites.jpg?v1.2) 750px 0px
}

#fr {
    width: 150px;
    height: 100px;
    background: url(https://www.naqsha.com.pk/wp-content/uploads/2019/12/sprites.jpg?v1.2) 450px 0px
}

#gd {
    width: 150px;
    height: 100px;
    background: url(https://www.naqsha.com.pk/wp-content/uploads/2019/12/sprites.jpg?v1.2) 300px 0px
}

#kb {
    width: 150px;
    height: 100px;
    background: url(https://www.naqsha.com.pk/wp-content/uploads/2019/12/sprites.jpg?v1.2) 150px 0px
}

#darts {
    width: 150px;
    height: 100px;
    background: url(https://www.naqsha.com.pk/wp-content/uploads/2019/12/sprites.jpg?v1.2) 600px 0px
}

.partners {
    background-color: #f9f9f8;
}

.premimum-company {
    margin-bottom: 0px;
}

.slick-slider-area {
    padding-top: 20px !important;
}

.register-company {
    margin-bottom: 0px;
}

#bh_fb {
    width: 160px;
    height: 160px;
    background: url(https://www.naqsha.com.pk/wp-content/uploads/2019/12/testimonial_sprites.webp?v1.2) 0px 0px;
}

#kb_fb {
    width: 160px;
    height: 160px;
    background: url(https://www.naqsha.com.pk/wp-content/uploads/2019/12/testimonial_sprites.webp?v1.2) 640px 0px;
}

#aca_fb {
    width: 160px;
    height: 160px;
    background: url(https://www.naqsha.com.pk/wp-content/uploads/2019/12/testimonial_sprites.webp?v1.2) 480px 0px;
}

#ai_fb {
    width: 160px;
    height: 160px;
    background: url(https://www.naqsha.com.pk/wp-content/uploads/2019/12/testimonial_sprites.webp?v1.2) 160px 0px;
}

#altec_eng {
    width: 160px;
    height: 160px;
    background: url(https://www.naqsha.com.pk/wp-content/uploads/2019/12/testimonial_sprites.webp?v1.2) 320px 0px;
}

.testimonial-2 {
    max-height: 495px!important;
    background-image: url('https://www.naqsha.com.pk/wp-content/uploads/2019/12/testimonial.webp?v1.2');
}

.footer {
    background-image: url('../../assets/images/Footer.jpg ');
}

.f-logo {
    height: 35px !important
}

.footer-p-text {
    text-align: justify !important;
    line-height: 17px !important;
}

.padding-left-0 {
    padding-left: 0px !important;
}

.footer-social-list {
    font-size: xx-large;
}

#page_scroller {
    position: fixed;
    z-index: 2147483647;
    display: none;
    bottom: 100px !important;
}

.whatsapp-icons {
    position: fixed;
    bottom: 79px;
    right: 20px;
}

.about-banner-image {
    background-image: url('../../assets/images/about us.jpg');
    height: 250px !important;
}

.listing-about-page {
    padding-top: 0px;
}

.mce_SELRES_start {
    display: inline-block;
    width: 0px;
    overflow: hidden;
    line-height: 0;
}

.entry-content {
    p {
        <br /> font-family: Lato, sans-serif !important;
        <br /> color: #242a3a !important;
        <br />
    }
    <br /> .box {
        <br /> box-shadow: 0 0 35px rgba(0, 0, 0, 0.1) !important;
        <br />
    }
    <br /> @media screen and (max-width: 992px) {
        <br /> .mrg-top {
            <br /> padding: 0px 48px !important;
            <br />
        }
        <br /> .mt-cus {
            <br /> margin-top: 1rem!important;
            <br />
        }
        <br /> .mt-cus-2 {
            <br /> margin-top: 1rem!important;
            <br />
        }
        <br /> .mt-cus-3 {
            <br /> margin-top: 2rem!important;
            <br />
        }
        </p>
    }
    .about-text-justify {
        text-align: justify;
    }
    .about-ud-div-text-color {
        background-color: #8080800d;
    }
    .about-ud-div-text-color > h2 {
        text-align: center;
    }
    .about-ud-div-text-color > h2 {
        font-size: 17px !important;
        text-align: justify!important;
        font-weight: 400 !important;
    }
    .conn-serv-box > a {
        margin-bottom: 8px;
        box-shadow: 0 0 35px rgba(0, 0, 0, 0.1) !important;
        border: 1px solid #1513131f !important;
    }
    .color-black {
        color: #000;
    }
    .vision-statement-main-div {
        text-align: justify;
        background-size: 100% 100%;
    }
    .vision-statement-sub-div {
        box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
    }
    .about-service-div {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .about-main-title-margin {
        margin-bottom: 30px;
    }
    .about-main-title-margin > h1 {
        margin-bottom: 0px;
    }
    .faq-header-div {
        background-image: url('https://www.naqsha.com.pk/wp-content/uploads/2019/10/naqsha_faq.jpg');
        height: 250px !important;
    }
    .term-banner-div {
        background-image: url('https://www.naqsha.com.pk/wp-content/uploads/2019/10/terms-and-conditions-naqsha.com_.pk_.jpg');
        height: 250px !important;
    }
    .text-decorations {
        text-decoration: underline;
    }
    .footer-bottom-div {
        background-color: rgb(255, 255, 255);
        border: 1px solid rgb(204, 204, 204);
        box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 3px;
        position: absolute;
        transition: visibility 0s linear 0.3s, opacity 0.3s linear 0s;
        opacity: 0;
        visibility: hidden;
        z-index: 2000000000;
        left: 0px;
        top: -10000px;
    }
    .footer-bottom-sub-div-1 {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 2000000000;
        background-color: rgb(255, 255, 255);
        opacity: 0.05;
    }
    .footer-bottom-sub-div-2 {
        border: 11px solid transparent;
        width: 0px;
        height: 0px;
        position: absolute;
        pointer-events: none;
        margin-top: -11px;
        z-index: 2000000000;
    }
    .footer-bottom-sub-div-3 {
        border: 10px solid transparent;
        width: 0px;
        height: 0px;
        position: absolute;
        pointer-events: none;
        margin-top: -10px;
        z-index: 2000000000;
    }
    .footer-z-ideex-div {
        z-index: 2000000000;
        position: relative;
    }
    .allow-popups-to-escape-sandbox {
        width: 100%;
        height: 100%;
    }
    .town-planning-modal-body {
        font-size: 18px !important;
        padding-top: 20px !important;
        padding-bottom: 32px !important;
    }
    .town-planning-button {
        padding-right: 12px;
    }
    .town-planning-image {
        margin-top: 20px !important;
        width: 100% !important;
        margin-bottom: 20px !important;
    }
    .town-planning-important-notice {
        font-size: 28px;
        font-weight: bold;
    }
    .important-notice-ul {
        padding-left: 0px;
        list-style: none;
    }
    .town-planning-background-image {
        background-image: url(https://www.naqsha.com.pk/wp-content/themes/naqsha/img/cover/cons.jpg );
    }
    .select-span {
        width: 344px;
    }
    /*page scroll */
    #page_scroller {
        display: none;
        position: fixed;
        z-index: 2147483647;
    }
    .page-scroller-sub-div {
        background-color: rgb(255, 255, 255);
        border: 1px solid rgb(204, 204, 204);
        box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 3px;
        position: absolute;
        transition: visibility 0s linear 0.3s, opacity 0.3s linear 0s;
        opacity: 0;
        visibility: hidden;
        z-index: 2000000000;
        left: 0px;
        top: -10000px;
    }
    .page-scroller-sub-div > div {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 2000000000;
        background-color: rgb(255, 255, 255);
        opacity: 0.05;
    }
    .g-recaptcha-bubble-arrow {
        border: 11px solid transparent;
        width: 0px;
        height: 0px;
        position: absolute;
        pointer-events: none;
        margin-top: -11px;
        z-index: 2000000000;
    }
    .g-recaptcha-bubble-arrow-style {
        border: 10px solid transparent;
        width: 0px;
        height: 0px;
        position: absolute;
        pointer-events: none;
        margin-top: -10px;
        z-index: 2000000000;
    }
    .google-recaptcha-style {
        z-index: 2000000000;
        position: relative;
    }
    .google-recaptcha-style > iframe {
        width: 100%;
        height: 100%;
    }
    @media print {
        #myModal {
            -webkit-print-color-adjust: exact;
            background-image: url(https://www.naqsha.com.pk/wp-content/themes/naqsha/img/bg-email.jpg);
        }
    }
    .TOP_10 {
        background-color: #fff2b4;
    }
    .badge-secondary {
        color: #000 !important;
        background-color: #ffd400 !important;
        font-size: 8px !important;
        padding: 5px .4em !important;
    }
    .bg-active {
        color: #312e2e!important;
    }
    .widget.booking-now {
        overflow-y: auto;
        margin-bottom: 0 !important;
    }
    .search-button-mt {
        margin-top: 50px !important;
    }

    .btn-detail-quotation{
        background-color: #ffd400!important;
    }